<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240464105752-ndeghub58q1bckd52vb4um8cvqlppgoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240464105752-ndeghub58q1bckd52vb4um8cvqlppgoa</string>
	<key>API_KEY</key>
	<string>AIzaSyBx8cMStt6OS94NIR_O-kabq-XRtqTN4QU</string>
	<key>GCM_SENDER_ID</key>
	<string>240464105752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeev</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-92e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-92e5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240464105752:ios:0259c284e4f112e9e8ce6d</string>
</dict>
</plist>